%h1 Ambassadors

%p
  = link_to "Search for Stolen Bikes", bikes_path, class: "menu-item"

%h2 Leaderboard

%table.table.table-striped.table-hover.table-bordered.table-sm.without-exterior-border
  %thead.small-header
    %tr
      %th Name
      %th Email
      %th Progress
  %tbody
    - @ambassadors.each do |ambassador|
      %tr
        %td= ambassador.name
        %td= ambassador.email
        %td 50%

  - if defined?(@ambassadors.total_count)
    .paginate-container.paginate-container-bottom
      = paginate @ambassadors

%h2 Tasks
